/********** OUTRO SPECIFIC CSS **********/
#main-container {
	width: 1024px;
	height: 768px;
	position: absolute;
}
.container {
	width: 1024px;
	height: 768px;
	left: 0px;
	top: 0px;
	position: absolute;
}
#outro-container {
	background-image: url('BG_iPadLand.jpg');
	background-size: 1024px 768px;
	display: none;
}
#animation-container{
	width: 100%;
	height: 100%;
	position: absolute;
}

#mnectarbranding {
	background-image: url('mNectarBrand_1024x52.png');
	width: 1024px;
	height: 52px;
	top: 708px;
	position: absolute;
}
/*function that defines the animation to be called later. It also defines the parameters and animation deforms. 
http://www.w3schools.com/css/css3_animations.asp*/
@-webkit-keyframes pulse {
	from {-webkit-transform: scale(1);}
	to {-webkit-transform: scale(.8);}
}
#bottom-button {
	position: absolute;
}
#top-button {
	width: 441px;
	height: 175px;
	position: absolute;
	left: 289px;
	/*animation is called. This is in a very specific order. 1. animation name 2. duration 3. animation easing 4. delay 5. pattern*/
	animation: pulse 1.5s ease-in-out 1s infinite alternate;
}
.mng-install-click-url {
	position: absolute;
	width: 1004px;
	height: 658px;
	top: 100px;
	left: 10px;
}
.mng-idle-click-url {
	position: absolute;
	width: 441px;
	height: 175px;
	left: 289px;
	top: 307px;
}
.mng-error-click-url {
	position: absolute;
	width: 330px;
	height: 126px;
	top: 516px;
	left: 347px;
}
.mng-install-idle {
	background-image: url('CTA_iPadLand.png');
	top: 307px;
}
.mng-install-dl {
	background-image: url('CTA_iPadLand.png');
	top: 307px;
}
/*The thanks will be removed for a midcore game:*/
.mng-install-thanks {
	width: 452px;
	height: 54px;
	background-image: url('Thanks_iPadLand.png');
	left: 295px;
	top: 235px;
}
.mng-idle-retry {
	width: 330px;
	height: 184px;
	background-image: url('IdleRetry_iPadLand.png');
	left: 346px;
	top: 505px;
}
.mng-error-dl {
	width: 335px;
	height: 144px;
	background-image: url('DLerror_iPadLand.png');
	left: 343px;
	top: 504px;
}
.mng-error-retry {
	background-image: url('ErrorRetry_iPadLand.png');
	top: 307px;
}
/********** OUTRO SPECIFIC CSS **********/